body {
  background: #e5ebef;
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 800px;
  margin: 0 auto; }

.message-box {
  font-size: 14px;
  margin-top: 7px; }
  .message-box a {
    color: #2481CC;
    text-decoration: none; }
    .message-box a:hover {
      text-decoration: underline; }
  .message-box .message-wrapper {
    background: #FFFFFF;
    padding: 4px 9px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #dae0e4; }
  .message-box .author {
    font-weight: 500;
    line-height: 19px;
    margin: 1px 0 0;
    color: #2481CC; }
  .message-box .forwarded_from {
    color: #2481CC;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .message-box .forwarded_from a {
      font-weight: 500; }
  .message-box .message {
    line-height: 21px;
    margin-top: 6px; }
  .message-box span.not_available {
    color: #2481CC;
    font-weight: 500; }
  .message-box .footer {
    margin-top: 4px;
    color: #738CA7;
    font-size: 12px;
    line-height: 14px; }
    .message-box .footer .after-icon {
      display: inline-block; }
    .message-box .footer .after-icon::after {
      content: "";
      display: inline-block;
      margin-left: 4px;
      margin-right: 5px; }
    .message-box .footer .footer-wrap {
      text-align: right; }

.photo-wrapper {
  margin: 10px -9px; }
  .photo-wrapper img {
    width: 400px; }

.audio-wrapper {
  width: 300px;
  max-width: 100%;
  margin: 10px 0;
  overflow: hidden; }
  .audio-wrapper .icon.play {
    float: left; }
  .audio-wrapper .progress-wrapper {
    margin-left: 61px; }
    .audio-wrapper .progress-wrapper .waveform-wrapper {
      padding-top: 10px;
      position: relative;
      height: 14px; }
      .audio-wrapper .progress-wrapper .waveform-wrapper .waveform {
        white-space: nowrap;
        height: 14px;
        overflow: hidden;
        position: absolute; }
        .audio-wrapper .progress-wrapper .waveform-wrapper .waveform s {
          white-space: nowrap;
          color: #2481CC;
          display: inline-block;
          width: 4px;
          background: #d3dbe4;
          padding-top: 4px;
          margin-right: 2px;
          border-radius: 2px;
          vertical-align: bottom;
          box-sizing: border-box; }
        .audio-wrapper .progress-wrapper .waveform-wrapper .waveform.blue s {
          background: #2481CC; }
    .audio-wrapper .progress-wrapper time {
      display: inline-block;
      font-size: 14px;
      line-height: 19px;
      color: #738CA7;
      margin: 5px 0 2px; }

.poll .question {
  font-weight: 500;
  line-height: 21px; }
.poll .type {
  font-size: 13px;
  line-height: 17px;
  color: #738CA7; }
.poll .answers {
  margin-top: 10px;
  margin-bottom: 10px; }
  .poll .answers .answer {
    display: table-row; }
    .poll .answers .answer + .answer > * {
      padding-top: 10px; }
    .poll .answers .answer .percent {
      display: table-cell;
      font-weight: 500;
      color: #000000;
      text-align: right;
      white-space: nowrap;
      padding-right: 8px; }
    .poll .answers .answer .value {
      display: table-cell;
      position: relative;
      width: 100%;
      color: #212121; }
      .poll .answers .answer .value .bar {
        margin-top: 4px;
        min-width: 4px;
        background: #4ca3e2;
        border-radius: 2px;
        height: 4px; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination ul {
    font-size: 0;
    margin-top: 20px; }
  .pagination li {
    font-size: 14pt;
    padding: .75rem;
    background: #ffffff;
    display: inline-block;
    color: #2481CC;
    border-width: 1px 0px 1px 1px;
    border-color: #dbe1e6;
    border-style: solid; }
    .pagination li a {
      color: #2481CC;
      text-decoration: none; }
    .pagination li.active {
      background-color: #2481CC;
      color: #ffffff; }
      .pagination li.active a {
        color: #ffffff; }
    .pagination li.arrow.left {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    .pagination li.arrow.right {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .pagination li.arrow.disabled, .pagination li.ellipsis {
      background: #f2f5f8; }

.icon.play {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url("data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%203.24662107v17.50675783c0%20.6750147.54720753%201.2222223%201.22222222%201.2222223.23559715%200%20.46617345-.0680925.66397379-.196081l13.52794929-8.7533789c.5667222-.3667026.7288701-1.1233929.3621675-1.6901151-.0937888-.1449463-.2172212-.2683787-.3621675-.3621675l-13.52794929-8.75337893c-.5667222-.3667026-1.3234125-.20455468-1.69011509.36216752-.12798845.19780033-.19608092.42837663-.19608092.66397378z%22%20transform%3D%22translate%281%200%29%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  background-color: #2481CC;
  cursor: pointer; }
.icon.play.playing {
  background: url("data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8.7180574%204c.44575937%200%20.60740249.04641281.77036545.13356635.16296296.08715355.29085725.21504784.3780108.3780108.08715354.16296296.13356635.32460608.13356635.77036545v13.4361148c0%20.4457594-.04641281.6074025-.13356635.7703655-.08715355.1629629-.21504784.2908572-.3780108.3780107-.16296296.0871536-.32460608.1335664-.77036545.1335664h-2.4361148c-.44575937%200-.60740249-.0464128-.77036545-.1335664-.16296296-.0871535-.29085725-.2150478-.3780108-.3780107-.08715354-.162963-.13356635-.3246061-.13356635-.7703655v-13.4361148c0-.44575937.04641281-.60740249.13356635-.77036545.08715355-.16296296.21504784-.29085725.3780108-.3780108.16296296-.08715354.32460608-.13356635.77036545-.13356635zm9%200c.4457594%200%20.6074025.04641281.7703655.13356635.1629629.08715355.2908572.21504784.3780107.3780108.0871536.16296296.1335664.32460608.1335664.77036545v13.4361148c0%20.4457594-.0464128.6074025-.1335664.7703655-.0871535.1629629-.2150478.2908572-.3780107.3780107-.162963.0871536-.3246061.1335664-.7703655.1335664h-2.4361148c-.4457594%200-.6074025-.0464128-.7703655-.1335664-.1629629-.0871535-.2908572-.2150478-.3780107-.3780107-.0871536-.162963-.1335664-.3246061-.1335664-.7703655v-13.4361148c0-.44575937.0464128-.60740249.1335664-.77036545.0871535-.16296296.2150478-.29085725.3780107-.3780108.162963-.08715354.3246061-.13356635.7703655-.13356635z%22%20transform%3D%22translate%281%200%29%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  background-color: #2481CC; }

.after-icon.votes::after {
  width: 12px;
  height: 12px;
  vertical-align: -2px;
  background: url("data:image/svg+xml,%3Csvg%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20width%3D%2212%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m3.60486756.00162755%204.54930464-.00162755c1.33727811%200%201.82220747.13923842%202.3110964.40069906.4888888.26146064.8725717.6451435%201.1340323%201.13403238l.0922854.18482021c.2018093.43861897.3084137.9561578.3084137%202.12627615v4.3083444c0%201.33727811-.1392384%201.82220747-.4006991%202.3110964-.2614606.4888888-.6451435.8725717-1.1340323%201.1340323l-.1848203.0922854c-.43861892.2018093-.95615775.3084137-2.1262761.3084137h-4.3083444c-1.33727811%200-1.82220747-.1392384-2.31109636-.4006991-.48888888-.2614606-.87257174-.6451435-1.13403238-1.1340323l-.09228534-.1848203c-.18739436-.407289-.29269878-.88262629-.30678617-1.88531586l-.00162755-4.54930464c0-1.33727811.13923842-1.82220747.40069906-2.31109636.26146064-.48888888.6451435-.87257174%201.13403238-1.13403238l.18482021-.09228534c.40728905-.18739436.88262634-.29269878%201.88531591-.30678617zm6.42546254%202.96804236c-.26626658-.26626656-.68293026-.29047261-.97654175-.07261815l-.08411844.07261815-3.96966991%203.96933009-1.46966991-1.46933009-.08411844-.07261815c-.29361149-.21785446-.71027517-.19364841-.97654174.07261815-.26626656.26626657-.29047261.68293025-.07261815.97654174l.07261815.08411844%202%202%20.08411844.07261815c.26098799.19364841.61920241.19603913.88259105.00717216l.09395069-.07979031%204.50000001-4.5.0726181-.08411844c.2178545-.29361149.1936484-.71027517-.0726181-.97654174z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 0; }
.after-icon.views::after {
  width: 16px;
  height: 10px;
  vertical-align: -1px;
  background: url("data:image/svg+xml,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%200c2.8897625%200%205.2230958%201.66666667%207%205-1.7769042%203.33333333-4.1102375%205-7%205-2.88976248%200-5.22309581-1.66666667-7-5%201.77690419-3.33333333%204.11023752-5%207-5zm0%201.48148148c-1.98523978%200-3.59459459%201.5752944-3.59459459%203.51851852s1.60935481%203.51851852%203.59459459%203.51851852%203.5945946-1.5752944%203.5945946-3.51851852-1.60935482-3.51851852-3.5945946-3.51851852zm0%201.85185185c.94037674%200%201.7027027.74619209%201.7027027%201.66666667s-.76232596%201.66666667-1.7027027%201.66666667-1.7027027-.74619209-1.7027027-1.66666667.76232596-1.66666667%201.7027027-1.66666667z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 0; }
.after-icon.download::after {
  width: 16px;
  height: 10px;
  vertical-align: -1px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDEyOCAxMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlLz48cGF0aCBkPSJNNjEuODgsOTMuMTJoMGEzLDMsMCwwLDAsLjQ0LjM2bC4yNC4xM2ExLjc0LDEuNzQsMCwwLDAsLjU5LjI0bC4yNS4wN2gwYTMsMywwLDAsMCwxLjE2LDBsLjI2LS4wOC4zLS4wOWEzLDMsMCwwLDAsLjMtLjE2bC4yMS0uMTJhMywzLDAsMCwwLC40Ni0uMzhMOTMsNjYuMjFBMywzLDAsMSwwLDg4Ljc5LDYyTDY3LDgzLjc2VjNhMywzLDAsMCwwLTYsMFY4My43NkwzOS4yMSw2MkEzLDMsMCwwLDAsMzUsNjYuMjFaIi8+PHBhdGggZD0iTTEyNSw4OGEzLDMsMCwwLDAtMywzdjIyYTksOSwwLDAsMS05LDlIMTVhOSw5LDAsMCwxLTktOVY5MWEzLDMsMCwwLDAtNiwwdjIyYTE1LDE1LDAsMCwwLDE1LDE1aDk4YTE1LDE1LDAsMCwwLDE1LTE1VjkxQTMsMywwLDAsMCwxMjUsODhaIi8+PC9zdmc+") center no-repeat; }

/*# sourceMappingURL=style.css.map */
