{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Archive{% if channel_name is not none %} of {{channel_name}}{% endif %}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="static/style.css" rel="stylesheet" />
    <script type="text/javascript" src="static/script.js"></script>
  </head>
  <body>
    <div class="container">
      {{macros.pagination()}}
      <div class="message-container">
        {% for message in messages %}
          {% if is_service(message) %}
            {{macros.service_message(message)}}
          {% else %}
            {{macros.normal_message(message)}}
          {% endif %}
        {% endfor %}
      </div>
      {{macros.pagination()}}
    </div>
  </body>
</html>
