{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Archive{% if channel_name is not none %} of {{channel_name}}{% endif %}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="static/style.css" rel="stylesheet" />
    <script type="text/javascript" src="static/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="message-container">
        {% for message in messages %}
          {% if is_service(message) %}
            {{macros.service_message(message)}}
          {% else %}
            {{macros.normal_message(message)}}
          {% endif %}
        {% endfor %}
      </div>
      <div class="pagination">
        <ul>
          <li class="arrow left{% if current_page == 1 %} disabled{% endif %}">
            {% if current_page > 1 -%}
            <a href="page_{{'{:0>4}'.format(current_page - 1)}}.html">&lt;</a>
            {%- else -%}
            &lt;
            {%- endif %}
          </li>
          {% for page in pagination(current_page, num_pages) -%}
          {% if page != "..." -%}
          <li{% if page == current_page %} class="active"{% endif %}><a href="page_{{'{:0>4}'.format(page)}}.html">{{ page }}</a></li>
          {%- else -%}
          <li class="ellipsis">...</li>
          {%- endif %}
          {%- endfor %}
          <li class="arrow right{% if current_page == num_pages %} disabled{% endif %}">
            {% if current_page < num_pages -%}
            <a href="page_{{'{:0>4}'.format(current_page + 1)}}.html">&gt;</a>
            {%- else -%}
            &gt;
            {%- endif %}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
